<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MONGOOSE EDIT!!!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Editing Mongoose: <%= mongoose.name %></h1>
    <form action="/mongooses/<%= mongoose._id %>"> 
        New Name? <input type="text" name="new_name" value="<%= mongoose.name %>"> <br>
        New Length? <input type="text" name="new_length"> <br>
        New Gender? <select name="new_gender">
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                    </select> <br>
        New Age? <input type="number" name="new_age"> <br>
        <input type="submit" name="Submit Changes">
    </form>
</body>
</html>