<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MONGOOSE EDIT!!!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    hello moto
</body>
</html>