<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MONGOOSE!!!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h3>
       <%= mongoose.name + '<br>' +
        mongoose.length + '<br>' +
        mongoose.gender + '<br>' +
        mongoose.age %>
    </h3>
</body>
</html>