<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Mongooses!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/mongooses/new">Create a Mongoose!</a></li>
    </ul>
   <h1>MONGOOSE!!!</h1>
   <img src="/images/mongeese.png" alt="MONGEESE!!!">
   <h2>Our Current Flock of Mongeese!</h2>
   <% for(var x in mongooses){ %>
        <p><a href="/mongooses/<%= mongooses[x]._id %>"><%= mongooses[x].name %></a></p>
   <% } %>
</body>
</html>