<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Mongooses!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
   <h1>MONGOOSE!!!</h1>
   <img src="/images/mongoose.jpg" alt="MONGOOSE!!!">
   <h2>Display goes below me!</h2>
</body>
</html>