<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MONGOOSES!!!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Add a new mongoose!</h1>
    <img src="/images/mongeese.png" alt="MONGEESE!!!">
    <form action="/mongooses" method="post">
        Name of mongoose: <input type="text" name="name"><br>
        Length of mongoose (in inches): <input type="text" name="length"><br>
        Gender of mongoose: <select name="gender" id="gender">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select><br>
        Age of mongoose: <input type="number" name="age"><br>
        <input type="submit" value="add new mongoose!">
    </form>
</body>
</html>